@require '_includes/*'

*
  box-sizing: border-box

body
  // background black
  background #BF9750
  color white
  margin 0
  padding 0

.layer
  height 100vh
  width 100vw
  position absolute
  top 0
  left 0
  text-align: center;

#hoofd
  height 80vh
  margin auto

#medals
  .l-row
    height 33vh
    padding-top 8vh

    img
      height 16vh
    img.text
      height 20vh
      position absolute
      margin-top -2vh
      margin-left -5vh
