video#achtergrond.layer(src="video/achtergrond.ogg" autoplay loop)
audio#soundtrack.layer(src="audio/racing.mp3" autoplay loop)
  
.layer
  img#hoofd(src="img/hoofd_800.gif")
#medals.layer.l-container
 .l-row
   .l-col.span3
     img.text.hidden(src="img/pretty.png")
     img.crown.hidden(src="img/KROON.gif")
     img.medal.youwin(src="img/medaille.gif")
   .l-col.span6
     p
   .l-col.span3
     img.text.hidden(src="img/father.png")
     img.crown.sword.hidden.transitioning(src="img/ZWAA.gif")
     img.medal.tada(src="img/medaille.gif")
  .l-row
    .l-col.span3
      img.text.hidden(src="img/clapclapclap.png")
      img.medal.applause.applaus(src="img/giphy--hands.gif")
    .l-col.span6
      p
    .l-col.span3
      img.text.hidden(src="img/clapclapclap.png")
      img.medal.applause.applaus(src="img/giphy--hands.gif")
 .l-row
   .l-col.span3
     img.text.hidden(src="img/sss.png")
     videocam.basic-stream.crown.hidden(src="videostream" autoplay)
     img.medal.game(src="img/medaille.gif")
   .l-col.span6
     p
   .l-col.span3
     img.text.hidden(src="img/horseproblems.png")
     img.crown.horse.hidden(src="img/PAARD.gif")
     img.medal.achievement(src="img/medaille.gif")
#applause.layer.hidden
     img.hands(src="img/applausehands.gif")
