//- video#achtergrond.layer(src="video/achtergrond.ogg" autoplay loop)
.layer
  img#hoofd(src="img/hoofd_800.gif")
#medals.layer.l-container
 .l-row
   .l-col.span3
     img.text.hidden(src="img/prettythings.png")
     img.crown.hidden(src="img/KROON.gif")
     img.medal.youwin(src="img/medaille.gif")
   .l-col.span6
     p
   .l-col.span3
     img.text.hidden(src="img/fatherlove.png")
     img.crown.sword.hidden(src="img/ZWAA.gif")
     img.medal.tada(src="img/medaille.gif")
  .l-row
    .l-col.span3
      img.text.hidden(src="img/applause.png")
      img.medal.applause.tada(src="img/giphy--hands.gif")
    .l-col.span6
      p
    .l-col.span3
      img.text.hidden(src="img/applause.png")
      img.medal.applause.tada(src="img/giphy--hands.gif")
 .l-row
   .l-col.span3
     img.text.hidden(src="img/medussssa.png")
     img.medal.game(src="img/medaille.gif")
   .l-col.span6
     p
   .l-col.span3
     img.text.hidden(src="img/horseproblems.png")
     img.medal.achievement(src="img/medaille.gif")
#applause.layer.hidden
